DSCOPWebService/src/wsdl/AddDebitCardIssue.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.adcb.com/esb/common/header.xsd" xmlns:tns="http://xmlns.example.com/1371027540614" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.adcb.com/esb/inq/DebitCards/AddDebitCardIssue.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1371027540614">
    <wsdl:types>
        <xs:schema xmlns="http://www.adcb.com/esb/common/header.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.adcb.com/esb/common/header.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="headerType">
                <xs:sequence>
                    <xs:element name="usecaseID" type="xs:string" minOccurs="0"/>
                    <xs:element name="serviceName" type="xs:string"/>
                    <xs:element name="versionNo" type="xs:string"/>
                    <xs:element name="serviceAction" type="xs:string" minOccurs="0"/>
                    <xs:element name="correlationID" type="xs:string" minOccurs="0"/>
                    <xs:element name="sysRefNumber" type="xs:string"/>
                    <xs:element name="senderID" type="xs:string"/>
                    <xs:element name="consumer" type="xs:string" minOccurs="0"/>
                    <xs:element name="reqTimeStamp" type="xs:string"/>
                    <xs:element name="repTimeStamp" type="xs:string" minOccurs="0"/>
                    <xs:element name="username" type="xs:string" minOccurs="0"/>
                    <xs:element name="credentials" type="xs:string" minOccurs="0"/>
                    <xs:element name="returnCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
                    <xs:element name="errorDetail" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="header" type="ns1:headerType"/>
        </xs:schema>
        <xs:schema xmlns="http://www.adcb.com/esb/inq/DebitCards/AddDebitCardIssue.xsd" xmlns:ns0="http://www.adcb.com/esb/common/header.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.adcb.com/esb/inq/DebitCards/AddDebitCardIssue.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.adcb.com/esb/common/header.xsd"/>
            <xs:element name="AddDebitCardIssueReqMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:header"/>
                        <xs:element name="AddDebitCardIssueReq">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="cardPrimaryAccount" type="xs:string"/>
                                    <xs:element name="cardEmbossName" type="xs:string"/>
                                    <xs:element name="cardProductGroup" type="xs:string"/>
                                    <xs:element name="instantFlag" type="xs:string" minOccurs="0"/>
                                    <xs:element name="WorkIdRefNbr" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddDebitCardIssueResMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:header"/>
                        <xs:element name="AddDebitCardIssueRes" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="cardPrimaryAccount" type="xs:string"/>
                                    <xs:element name="cardEmbossName" type="xs:string"/>
                                    <xs:element name="cardProductGroup" type="xs:string"/>
                                    <xs:element name="newDebitCardNumber" type="xs:string" minOccurs="0"/>
                                    <xs:element name="cardTypeDescription" type="xs:string" minOccurs="0"/>
                                    <xs:element name="transactionRefNumber" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="AddDebitCardIssue">
        <wsdl:port name="AddDebitCardIssuePortTypeEndpoint0" binding="tns:AddDebitCardIssuePortTypeEndpoint0Binding">
            <soap:address location="http://10.101.107.25:5507/Services/EnterpriseServicesInquiry/DebitCards/WSDL/AddDebitCardIssue.serviceagent/AddDebitCardIssuePortTypeEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="AddDebitCardIssuePortType">
        <wsdl:operation name="AddDebitCardIssue_Oper">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddDebitCardIssuePortTypeEndpoint0Binding" type="tns:AddDebitCardIssuePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddDebitCardIssue_Oper">
            <soap:operation style="document" soapAction="/Services/EnterpriseServicesInquiry/DebitCards/WSDL/AddDebitCardIssue.serviceagent/AddDebitCardIssuePortTypeEndpoint0/AddDebitCardIssue_Oper"/>
            <wsdl:input>
                <soap:body use="literal" parts="InputMsg"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="OutputMsg"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InputMessage">
        <wsdl:part name="InputMsg" element="ns0:AddDebitCardIssueReqMsg"/>
    </wsdl:message>
    <wsdl:message name="OutputMessage">
        <wsdl:part name="OutputMsg" element="ns0:AddDebitCardIssueResMsg"/>
    </wsdl:message>
</wsdl:definitions>